<h1>Kompanijų sąrašas</h1>

{{#if messages}}
    <div class="alert alert-{{status}}">{{messages}}</div>
{{/if}}

<table class="table table-hover">
    <thead>
        <th>ID</th>
        <th>Pavadinimas</th>
        <th>Adresas</th>
        <th>Veiksmai</th>
    </thead>
    <tbody>
        {{#each companies}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{address}}</td>
                <td>
                    <a href="/edit-company/{{id}}" class="btn btn-primary btn-sm">Redaguoti</a>
                    <a href="/delete-company/{{id}}" class="btn btn-danger btn-sm btn-delete">Ištrinti</a>
                </td>

            </tr>
        {{/each}}
    </tbody>
</table>
