<h1>Klientų sąrašas</h1>
<div class="pt-3"></div>

{{#if messages}}
    <div class="alert alert-{{status}}">{{messages}}</div>
{{/if}}

<div class="clearfix toolbar">
    <form action="/list-clients">
        <div class="col-auto">
            <select class="form-select" name="company_id" id="company_filter">
                <option>---</option>
                <option value="0">Bedarbis</option>
                {{#each companies}}
                    <option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="float-start btn btn-secondary">Filtruoti</button>
        </div>
    </form>
</div>

{{#if clients}}

<table class="table table-hover">
    <thead>
        <th>ID</th>
        <th>Nuotrauka</th>
        <th>Vardas</th>
        <th>Pavardė</th>
        <th>Telefonas</th>
        <th>El. paštas</th>
        <th>Kompanija</th>
        <th>Veiksmai</th>
    </thead>
    <tbody>
        {{#each clients}}
            <tr>
                <td>{{id}}</td>
                <td>{{#if photo}}<img src="/uploads/{{photo}}" width="50" height="50" />{{/if}}</td>
                <td>{{name}}</td>
                <td>{{surname}}</td>
                <td>{{phone}}</td>
                <td>{{email}}</td>
                <td>{{#if company_name}}{{company_name}}{{else}}Bedarbis{{/if}}</td>
                <td>
                    <a href="/edit-client/{{id}}" class="btn btn-primary btn-sm">Redaguoti</a>
                    <a href="/delete-client/{{id}}" class="btn btn-danger btn-sm btn-delete">Ištrinti</a>
                </td>

            </tr>
        {{/each}}
    </tbody>
</table>

{{else}}

    <h4>Šiuo metu duomenų bazėje nėra įvestų klientų.</h4>

{{/if}}
